/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    font: 300 16px/22px  Helvetica, Arial, sans-serif;
    width: 100%;
}
header {
    position: fixed;
    background: #222;
    z-index: 1001;
    top: 0;
    width: 100%;
    height: 62px;
}
footer {
    background: #ddd;
    width: 100%;
    display: block;
    clear: both;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5%;
    padding-bottom: 2%;
}
h1 {
    font-size: 64px;
    line-height: 44px;
    font-weight: 100;
    color: #333;
}
header:after {
    clear: both;
}
.navigation .icon-container {
    background: #bd1f3a;
    margin-right: 12px;
    float: left;
}
.navigation .icon {
    background: url("../img/header-logo.png") 9px center no-repeat;
    float: left;
    width: 220px;
    height: 62px;
    max-width: 52px;
    margin-left: 8px;
    margin-right: 15px;
    transition: max-width 0.5s ease-in-out;
}
.navigation .icon:hover {
    max-width: 185px;
}
.navigation {
    width: 100%;
}
.navigation ul {
    background: #222;
    float: left;
    height: 58px;
    margin-left: -4px;
    margin-top: 2px;
}
.navigation li {
    background: url("../img/header-nav-divider.png") right 50% no-repeat;
    float: left;
    line-height: 58px;
    padding: 0 16px;
    padding-right: 17px;
    box-sizing: border-box;
    position: relative;
    display: block;
}
.navigation li:last-child {
    background: none;
    color: #b13;
    display: block;
    padding-top: 2px;
}
.navigation li:last-child  a {
    background: none;
    color: #b13;
    display: block;
    border-top: 4px solid;
    margin-top: -5px;
}
.navigation a {
    line-height: 4em;
    color: #fff;
    font-size: 14px;
    letter-spacing: .035em; text-decoration: none;
}
.navigation a:hover {
    color: #b13; }
.navigation img {
    float: left;
    background: #b13;
    padding: 11px;
    padding-left: 20px;
    display: block;
    height: auto;
}
.navigation-links {
    position: relative;
    margin-left: 30px;
    display: block;
    height: auto;
}
.menu-button {
    float: right;
    display: none;
}
.menu-button img {
    background: #222;
}
@media all and (max-width: 1064px) {
    .navigation-links,
    .contact-catchphrase,
    .contact-mail {
        display: none;
    }
    .menu-button {
        display: block;
    }
}
.contact-catchphrase,
.contact-mail {
    position: absolute;
    right: 0;
    color: #fff;
    font-size: 15px;
    background: #222;
    padding: 20px;
    padding-right: 27px;
}
.contact-catchphrase span {
    color: #b13;
}
/* Animation Part */
@keyframes toggler {
    0% { opacity: 0; }
    10% { opacity: 1; }
    50% { opacity: 1; }
    60% { opacity: 0; }
    100% { opacity: 0; }
}
@-webkit-keyframes toggler {
    0% { opacity: 0; }
    10% { opacity: 1; }
    50% { opacity: 1; }
    60% { opacity: 0; }
    100% { opacity: 0; }
}
.contact-mail {
    animation: toggler linear 8s;
    animation-iteration-count: infinite;
}
/* Thats it for the animation */
.copyright {
    font-size: 18px;
    color: #333;
    clear: both;
    width: 65%;
    border-top: 1px solid #9e9e9e;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 27px;
    padding-left: 26px;
}
.icon-links {
    margin: 0 auto;
    width: 60%;
}
.hex-container {
    padding: 9%;
    height: 225px;
}
.icon-section {
    float: left;
    position: relative;
    width: 33%;
}
.icon-section h3 {
    text-align: center;
    font-size: 26px;
    line-height: 28px;
    color: #333;
}
.hex-container img {
    margin: 0 auto;
    display: block;
}
.mail {
}
.careers {
}
.social-media-icons {
    background: url("../img/hexagon-footer-bg.png") center center no-repeat;
}
.contact-video video {
    width: 100%;
    height: auto !important;
}
.social-media-list {
    margin: 36% 18%;
}
.social-media-list li {
    float: left;
}
.social-media-list img {
    display: inline;
    float: left;
    padding: 7px;
}
.map-text {
    text-align: center;
    font-size: 42px;
    line-height: 49.55px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.map-container iframe {
    width: 100%;
    height 100%;
    pointer-events:none;
}
.map-container {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    height 500px;
    clear: both;
}
.tweet img {
    display: block;
    width: 100%;
}
.video-container {
    position: relative;
    margin-top: 62px;
}
.contact-button,
.greeting {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 998;
    text-align: center;
}
.greeting {
    background-image: url("../img/shadow.png"),url("../img/grid.png");
    background-color: rgba(0,0,0,.5);
    background-repeat: repeat-x, repeat;
    box-sizing: border-box;
    top: 0px;
    height: 99.5%;
}
.greet-text {
    color: #fff;
    padding-top: 20%;
}

.button {
    background: #d22341;
    font-size: 26px;
    color: #fff;
    position: absolute;
    top: 46%;
    left: 42%;
    padding: 19px 30px;
    border-radius: 9px;
    box-shadow: 0px 2px 10px 3px rgba(0,0,0,0.15);
    transition: all .3s ease-out;
    margin: 0 auto;
}
.button:hover {
    background: #b23;
}
.arrow {
    background: url("../img/down_arrow.png") left center no-repeat;
    height: 14px;
    width: 11px;
    margin-left: 15px;
    display: inline-block;
}
.breadcrumbs {
    box-sizing: border-box;
    padding: 11px 62px;
    padding-right: 0;
    border-bottom: 1px solid #f1f1f1;
    background-color: rgba(255,255,255,0.49);
    position: absolute;
    width: 100%;
    z-index: 1000;
    top: 62px;
    color: #333;
    font-size: 16px;
}
